@(message: String)(email: String)(meal: Meal)(restaurants: List[Restaurant])(imageList: List[Image])

@main(email) {

<body>
<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-filestyle.min.js")"></script>

    <!-- Page Content -->
    <div class="container">
			<div class="row">

     @if(flash.get("successMeal") || flash.get("successEdited") || flash.get("deletedMeal") ){
											<div class="alert alert-success" role="alert">
											
											<div class="container">
												
													@flash.get("successMeal")
													@flash.get("successEdited")
													@flash.get("deletedMeal")
												</div>
											</div>
											</div>
											}
	
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Bosnian cousine</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Desserts</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Fast Food</a></h4>
								</div>
							</div>
													
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Italian cousine</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Mexican cousine</a></h4>
								</div>
							</div>
							
							
						</div><!--/category-productsr-->
					
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Meals</h2>
						
					  <!-- /.row -->
                                  <div class="well text-center"> 
                    <h2>Please Upload Your Meal picture</h2>
                    <h5>All images that are the wrong size will automatically be resized and will possibly stretch  to preserve 800px x 500px size</h5>
                        <br>
                  <div class="raw">
                    <div class="col-md-4">
                  
                    <form action="@routes.FileUpload.saveMealIMG(meal.id)" method="post" enctype="multipart/form-data" >
					<input type="file" name="image" id="image" class="filestyle"/>
					                    </div>
					
		          	<input type="submit" class="btn btn-default pull-left" value="Send file" />
                    </form>
                    
                       <a class="btn btn-default pull-right" href="/restaurantOwner/@email" role="button">Finished</a>
                   </div>
                   <br>
                 </div>
                  
               <br>                
                </div>
              <div class="row">
              <div>
            
                  @if(imageList.iterator.hasNext){	
                  	
                  	@for(img <- imageList){
             	
                  </div><!--/panel-body-->
                  
                  <div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="@routes.Assets.at(img.imgLocation)" />
						<div class="caption">
									
							<p>
							 <form method="GET" action="@routes.FileUpload.deleteImg(img.imgLocation,meal.id)">
                       		 <input type="submit" onclick = "if (! confirm('Are you sure you want delete this picture?')) { return false; }" value="Delete" class="btn btn-danger btn-xs " />	 
                       		</form>       
								
							</p>
						</div>
					</div>
				}}
				</div>
	          </div>  

			</div>
			
                </div>
				
				<!--
				<ul class="pagination">
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">&raquo;</a></li>
						</ul>
					</div>
					-->
					<!--features_items-->
			</div>
		</div>
	</section>

   <!--      @if(flash.get("success") || flash.get("error") || flash.get("errorLink") || flash.get("successApprovedRestaurant") || flash.get("successSendRequest")){
		           <div class="alert alert-success" role="alert">
		           <div class="container">
		            @flash.get("success")
		         	@flash.get("error")
		         	@flash.get("errorLink")
		         	@flash.get("successApprovedRestaurant")
		         	@flash.get("successSendRequest")
		             </div>
	            	</div>
	              }
	              --> 
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
	
}