@(email: String)(meal: Meal)(imageList: List[Image])(restaurant: Restaurant)(restaurants: List[Restaurant])(comments: List[Comment])
@main(email) {
<body>
				<link href="@routes.Assets.at("stylesheets/star-rating.css")" rel="stylesheet">
				<link href="@routes.Assets.at("stylesheets/star-rating.min.css")" rel="stylesheet">
				<script type="text/javascript" src="@routes.Assets.at("javascripts/star-rating.js")"></script>
				<script type="text/javascript" src="@routes.Assets.at("javascripts/star-rating.min.js")"></script>
				<script src="@routes.Assets.at("ckeditor/ckeditor.js")"></script>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category </h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Bosnian cousine</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Desserts</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Fast Food</a></h4>
								</div>
							</div>
													
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Italian cousine</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Mexican cousine</a></h4>
								</div>
							</div>
							
							
						</div><!--/category-productsr-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Restaurants</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
								@for(restaurant <- restaurants){
									<li><a href="/restaurantProfile/@restaurant.name"> <span class="pull-right">(@restaurant.meals.size())</span>@restaurant.name</a></li>
								}
									
									
								</ul>
							</div>
						</div><!--/brands_products-->

						
					</div>
				</div>
				@if(restaurant.image.iterator().hasNext()!=true){
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
							@if(meal.image.iterator().hasNext()!=true){
                	        <img src="@routes.Assets.at("images/meal" + meal.id)" alt="" >
								}
								
							</div>
						</div>
						}
	
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								
								<h2>@meal.name </h2>
								<p><b>Restaurant:</b> @meal.restaurant.name</p>
								<p><b>Category:</b> @meal.category </p>
								
									<span>
									<span>@meal.price KM</span>
									</span>
									@if(Comment.averageRating(meal.id) != 6){
									<p>
									<input id="rating" value="@Comment.averageRating(meal.id)" name="rating" type="number" class="rating" min=0 max=5 step=1 data-size="xs" disabled>	 
									</p>	
									}
									@if(User.checkIfExists(email) == true){
									<form method="POST" action="@routes.CartController.addMealToBasket(meal.id)">
								
									<input type="submit" class="btn btn-default add-to-cart" value="Add to cart " class="fa fa-shopping-cart"></input>
									</form>
										
									}else{
									
									<p><h2>To add meal to cart, <b>please  <a href="/login"  style="color:#E36B0D">Log in.</a></b></h2></p>
									
									}
									
								<br>
								<p><b>Minimal Order:</b> @restaurant.minOrder KM</p>
								<p><b>Delivery time:</b> 30 min</p>
								<p><b>Location:</b> 
								@for(location <- models.User.allLocation()){
									<ul>
									<li>@location.street @location.number, @location.city</li>
									</ul>
								}</p>
								<p><b>Business hours:</b> @restaurant.workingTime</p>
								
								
							</div><!--/product-information-->
						</div>
						<br>
						
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Details</a></li>
								<li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
								<li><a href="#tag" data-toggle="tab">Tag</a></li>
								<li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
								
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="companyprofile" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="tag" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade active in" id="reviews" >
							@for(comment <- Comment.findByMeal(meal.id)){

								<div class="col-sm-12">
									<ul>
										@if(comment.author.username != null) {
											<li><a href=""><i class="fa fa-user"></i>@comment.author.username</a></li>
										} else {
											<li><a href=""><i class="fa fa-user"></i>@comment.author.email</a></li>
										}
										<li><a href=""><i class="fa fa-calendar-o"></i>@comment.dateCreation.toLocaleString</a></li>
										<input id="rating" value="@comment.rating" name="rating" type="number" class="rating" min=0 max=5 step=1 data-size="xs" disabled >   		 
										
									</ul>
									<p><i>@comment.title</i></p>
									<p>@comment.content</p>
									<hr>
									
									}
								@if(User.checkIfExists(email) == true && Comment.userReview(meal.id, email) == false){
          							@if(User.checkRole(email).equals(User.USER)){
																			
									  <form class="form-horizontal" role="form" action="@routes.CommentController.newComment(meal.id)" method="POST">
							
       		 							 <div class="form-group">
       		 							 <span>
              							 <input type="text" placeholder="Title" name="title" id="title" required>		
            							</div>
            							</span>		
        								 <div class="form-group">
            							 <textarea rows="5" cols="69" placeholder="Enter review" name="content" id="content" ></textarea>
            							 	
            							             							 
            							</div>
                               		 <div class="form-group">
                             <input id="rating" value="0" name="rating" type="number" class="rating" min=0 max=5 step=1 data-size="xs" >   		 
                       		  <button type="submit" class="btn btn-default">Post Review</button>
                   				 </div>
              						</div>
      								</form>
      								}
      								}
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
						
				
					
				</div>
			</div>
		</div>
	</section>
	}