@(email:String)(user: User)


@main(email) {

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Header -->

		<header class="masthead">
			<div class="container">
				<div class="row">
					<div class="page-header">
						<h1> @user.restaurant.name <small>Restaurant</small></h1>
						
					</div>
				</div>
			</div>

		</header>
		
           
           
            <div class="col-md-6 column">
			<form action="@routes.RestaurantController.editRestaurant(email)" method="POST" class="form-horizontal" role="form">
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
					<div class="col-sm-9">
						<input type="email" class="form-control" id="email" name="email" required readonly>
						<p class="help-block" style="font-size: 12px">Please provide your E-mail</p>
					</div>
				</div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
					<div class="col-sm-9">
						<input type="password" class="form-control" id="hashedPassword" name="hashedPassword" pattern="(?=^.{6,16}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" >
						 <p class="help-block" style="font-size: 12px">Password should be at least 6, maximum 16 characters (UpperCase, LowerCase, Number/SpecialChar)</p>
					</div>
				</div>
				
				
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-3 control-label">Confirm Password</label>
					<div class="col-sm-9">
						<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" pattern="(?=^.{6,16}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" >
						 <p class="help-block" style="font-size: 12px"></p>
					</div>
				</div>
				
				
				<div class="form-group">
					 <label for="inputName3" class="col-sm-3 control-label">Name</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" value ="@user.restaurant.name" id="name" name="name" pattern=".{3,20}" required title="3 to 20 characters">
						<p class="help-block" style="font-size: 12px">Name should be at least 3, maximum 20 characters </p>
					</div>
				</div>
				
				<div class="form-group">
					 <label for="inputName3" class="col-sm-3 control-label">Bussines hours</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" value ="@user.restaurant.workingTime" id="workingTime" name="workingTime"  required title="3 to 20 characters">
						<p class="help-block" style="font-size: 12px">Please write your bussines hours ex. 07:00h - 18:00h. </p>
					</div>
				</div>
			
			
			<!-- Address-->
				<!-- Text input-->
          
          <!-- Text input-->
          
          
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textinput">City</label>
            <div class="col-sm-9">
              <input type="text" placeholder="City" class="form-control" value ="@user.location.city" id="city" name="city" pattern=".{2,20}" required>
            </div>
          </div>
          
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textinput">Street</label>
            <div class="col-sm-9">
              <input type="text" placeholder="Street" class="form-control" value ="@user.location.street" id="street" name="street" pattern=".{3,30}" required>
            </div>
          </div>

			<div class="form-group">
            	<label class="col-sm-3 control-label" for="textinput">Number</label>
            	<div class="col-sm-9">
              		<input type="text" placeholder="City" class="form-control" value ="@user.location.number" id="number" name="number" pattern=".{1,10}" required>
            	</div>
          	</div>
          	
          	
          	<div class="form-group">
            	<label class="col-sm-3 control-label" for="textinput">Minimal Order</label>
            	<div class="col-sm-9">
              		<input type="number" step="any" min="1" max="100" maxlength="10"  class="form-control"  value ="@user.restaurant.minOrder"   placeholder="Minimal Order" id="minOrder" name="minOrder" pattern=".{1,10}" required>
            	</div>
          	</div>
          
          <div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						 <button type="submit" class="btn btn-default">Save</button>
					</div>
				</div>
          
			<!-- 
            <label class="col-sm-2 control-label" for="textinput">Postcode</label>
            <div class="col-sm-4">
              <input type="text" placeholder="Post Code" class="form-control" id="postcode" name="postcode" required>
            </div>
          </div>
           -->
          
          <!-- /Address-->
                @if( flash.get("successEdited")  ){
							<div class="alert alert-success" role="alert">
							<div class="container">
								
								@flash.get("successEdited")
								
							</div>
							</div>
							}
        </div>
       

       

    </div>
    <!-- /.container -->

    <!-- jQuery --> 
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
	
	
}