@(meal: Meal)(email: String)(restaurant: Restaurant)


@main(email) {

<body>


    <!-- Page Content -->
    <div class="container">

          
        
        <section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category </h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Bosnian cousine</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Desserts</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Fast Food</a></h4>
								</div>
							</div>
													
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Italian cousine</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Mexican cousine</a></h4>
								</div>
							</div>
							
							
						</div><!--/category-productsr-->
					
					
						
						
					</div>
				</div>
				@if(restaurant.image.iterator().hasNext()!=true){
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
								
							</div>
							

						</div>
						}
						
							
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="images/product-details/new.jpg" class="newarrival" alt="" />
								
								
								<form class="form-horizontal" role="form" action="@routes.RestaurantController.editMeal(meal.id)" method = "POST">
					               
					               <div class="col-sm-10">
					               
					                <div class="form-group">
					                	<div class="col-sm-10 ">
					                     	<label for="inputEmail3" class="col-sm-2 control-label">Name</label>
					                    
					                        <input type="text" class="form-control" id="name" name="name" value="@meal.name" minlength="4" maxlength="30" title="Maximum 30 chars" required>
					                    </div>
					                </div>
					                
					                <div class="form-group">
					                	<div class="col-sm-10 ">
					                     	<label for="inputEmail3" class="col-sm-2 control-label">Category</label>
					                    
					                        <input type="text" class="form-control" id="category" name="category" value="@meal.category" minlength="4" maxlength="30" title="Maximum 30 chars" required>
					                        <!-- Single button -->
					                        
					                    </div>
					                </div>
					                
					                <div class="form-group">
					               		 <div class=" col-sm-10 ">
					                     	<label for="inputEmail3" class="col-sm-2 control-label">Price</label>
					                    
					                        <input type="number" step="any" min="1" max="100" maxlength="10"  class="form-control" id="number" name="price" value="@meal.price" title="Please use format with dot: 2.20" required >
					                       @if(flash.get("successMeal")){
												<div class="alert alert-success" role="alert">
												<div class="container">
													@flash.get("successMeal")
												</div>
												</div>
												}
					                    </div>
					                </div>
					                
					                </div>
                                         
				                     <div class="form-group">
				                    	<div class="col-sm-10 col-sm-offset-1">
				                    		<input type="submit" class="btn btn-default add-to-cart" value="Update Meal" ></input>
				                              	  
				                         	<a class="btn btn-default add-to-cart" href="/fileUpload/@meal.id" role="button">Modify Images</a>
				  
				                    	</div>                   
				                    </div>
            					
            					</form>
								
								
								
									
									
								
			
								
							</div><!--/product-information-->
						</div>
						
					</div><!--/product-details-->
					
					
					
					
				</div>
			</div>
		</div>
	</section>

</body>
	
	
}