@(email: String)(meals: List[Meal])(restaurant: Restaurant)(restaurants: List[Restaurant])(transactions: List[TransactionU])
@main(email) {



<body>

    <!-- Page Content -->
    <div class="container">

     @if(flash.get("successMeal") || flash.get("successEdited") || flash.get("deletedMeal") ){
											<div class="alert alert-success" role="alert">
											
											<div class="container">
												
													@flash.get("successMeal")
													@flash.get("successEdited")
													@flash.get("deletedMeal")
												</div>
											</div>
											</div>
											}
        

		<!-- Header -->

		<header class="masthead">
			<div class="container">
				<div class="row">
					<div class="page-header">
						<h1> @restaurant.name <small>Restaurant</small></h1>
						@if(restaurant.minOrder > 0) {
							<h4 class="text-right"><small>Minimal order for this restaurant is @restaurant.minOrder BAM.</small></h4>
						}
					</div>
				</div>
			</div>

		</header>
        
        
</div>
 <!-- Page Features -->
       <section id="advertisement">
		<div class="container">
		    
		    <!-- src="./public/images/shop/advertisement.jpg" -->
			<img src="http://placehold.it/940x120/E7E7E7" alt="" />
		</div>
	</section>
	
	<section>
		<div class="container">
			<div class="row">
			
			<!-- Approval Restaurant -->
			
			<div class="col-sm-12">
						
						 <div class="brands_products">
                    <h2>   Orders to be approved  </h2>						
					<div class="brands-name">
                  
                   <table class="table table-striped">
                     <thead>
                        <tr>
                           <th>From</th>
                           <th>Price</th>
                           <th>Order Note</th>
                           <th>Order details</th>
                           <th>TransID</th>
                           <th>Approved</th>
                           
                        </tr>
                        </thead>
                     <tbody>
                     	
                        @for(transaction <- transactions){   
                        <tr>                 
                        <td>@transaction.email</td>
                        <td>@transaction.price</td>
                        @if(Cart.find(transaction.cartToPayId).orderNote != null){
                        <td>Cart.find(transaction.cartToPayId).orderNote</td>
                        }
                        <td>
                        
                        	 <form id = "orderD@transaction.id" >
                           			<input type="submit" onclick="detailsModal(@transaction.id)" href="#orderDetails@transaction.id" value="details" class="btn btn-primary btn-xs " />	 
                           	 </form>
                        
                        
							<div id="orderDetails@transaction.id" class="orderDetails">
								 
								 <script>
									  addEventListener("keydown", function(event) {
									    if (event.keyCode == 27)
									    	$("#closeIt@transaction.id").click();
									  });
								</script>
								 
								 
								 	<div class="container">
									   <h2>Order details</h2>
									   <table class="table table-hover">
									      <thead>
									         <tr>
									            <th>Meal</th>
									            <th>Price</th>
									            <th>Quantity</th>
									            <th>Total for meal</th>
									         </tr>
									      </thead>
									      <tbody id="detailz@transaction.id">
									      
									 		
									      </tbody>
									   </table>
									</div>
									
									
								 	<script type="text/javascript">
									 		$( document ).ready(function() {
									 		    console.log( "ready!" );
									 		    
									 		   $.ajax({
													  method: "POST",
													  url: "/getOrderDetails/"+@transaction.id,
													  accepts: {
													        json: "application/json"
													    },
													}).done(function(msg) {
														console.log("SUCCESSFULL JSON");
														
														for(var i = 0; i < msg.length; i++) {
														console.log("USAO U FOR U AJAXU");
															$("#detailz@transaction.id").append("<tr id='rowy@transaction.id"+i+"'></tr>");
															console.log("DODAO ROWY");
													         $('#rowy@transaction.id'+i).append( " <td> " + msg[i].name + "</td> ");
													         $('#rowy@transaction.id'+i).append( " <td> " + msg[i].price + "</td> ");
													         $('#rowy@transaction.id'+i).append( " <td> " + msg[i].quantity + "</td> ");
													         $('#rowy@transaction.id'+i).append( " <td> " + msg[i].totalPrice + "</td> ");
													    }
													 }).fail(function( msg ) {
														  console.log("FAILED");
														  console.log(msg);
													   	  alert( "Request failed!" );
													  });
												});
									 		    
									 		</script>
								 
								 
								 
								         <input id="closeIt@transaction.id" class="close-modalDetails" type="submit"
								            value="Cancel">
								</div>
                        
                        
                        
                        </td>
                        
                        <td>@transaction.id</td>
                        @if(transaction.refused == true) {
                        	<td>Refused</td>
                        }
	                      @if(transaction.approved == true) {
                        	<td>Approved</td>
                        } 
                        @if(transaction.approved == false && transaction.refused != true) {
                        	<td>Not approved</td>
                        }
                        
                        	<td>
	                        @if(transaction.approved == false && transaction.refused != true){
	                           <form method="POST" action="@routes.PaypalController.executePaymentById(transaction.id)">
	                           
	                           <input type="submit" onclick = "if (! confirm('Are you sure you want approve this order?')) { return false; }" value="approve" class="btn btn-primary btn-xs " />	 
																</td>
								
								<td>
								<input type="number" class="form-control" id="deliveryTime" name="deliveryTime"  required>
								</td>
	                           </form>
	                           
	                           
	                           }
	                        </td>
	                        
                        	<td>
                        	@if(transaction.approved == false && transaction.refused != true){
                       <!--     <form method="POST" action="@routes.PaypalController.deleteOrder(transaction.id)">
                           <input type="submit" onclick = "if (! confirm('Are you sure you want delete this order?')) { return false; }" value="delete"  class="btn btn-primary btn-xs" />	 
                           </form> -->
                           
                           <form id = "infoF@transaction.id" >
                           <input type="submit" onclick="infoModal(@transaction.id)" href="#infoForm@transaction.id" value="delete" class="btn btn-primary btn-xs " />	 
                           </form>
                           
								      <div  id="infoForm@transaction.id" class="infoForm">
								      
								       <script>
									  addEventListener("keydown", function(event) {
									    if (event.keyCode == 27)
									    	$("#closeItt@transaction.id").click();
									  });
								      </script>
								      
								      
								   <h2>You are about to refuse an order.</h2>
								   <p>Please enter explanation here</p>
								   <form method="POST" action="@routes.PaypalController.deleteOrder(transaction.id)">
								      
								      <textarea name="message" class="form-control" rows="5" wrap="physical"></textarea>
								      
								      
								      <form>
								         <input type="submit" 
								         		onclick = "if (! confirm('Are you sure you want delete this order?')) { return false; }"
								            value="Confirm">
								            </form>
								      
								   </form>
								   
								         <input id="closeItt@transaction.id" class="close-modal" type="submit"
								            value="Cancel">
								</div>
                           
                           
                           
                           
                           
                           }
                       		 </td>
                       		 
                       		 
                        
                        </tr>
                        }
                     </tbody>
                  </table>
               </div>
               
                @if(flash.get("SuccessApprovedOrder") ){
            <div class="alert alert-success" role="alert">
               @flash.get("SuccessApprovedOrder")
            </div>
            }
              @if(flash.get("RefusedOrder") ){
            <div class="alert alert-success" role="alert">
               @flash.get("RefusedOrder")
            </div>
            }
                    
                    
                    
             
                  
                  
               
                   </div>
						
						</div>
			
			
			<div class="col-sm-12">			
			<br>
			<br>
			</div>
			
			<!-- /Approval Restaurant -->
			
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Bosnian cousine</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Desserts</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Fast Food</a></h4>
								</div>
							</div>
													
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Italian cousine</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Mexican cousine</a></h4>
								</div>
							</div>
							
							
						</div><!--/category-productsr-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Add Meal</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
								
								
								<form class="form-horizontal" role="form" action="@routes.RestaurantController.createMeal" method = "POST">
						                <div class="form-group">
						               		 <div class="col-sm-10 col-sm-offset-1">
						                     	<label for="inputEmail3" class="col-sm-2 control-label">Name</label>                   
						                        <input type="text" class="form-control" id="name" name="name" minlength="4" maxlength="30" title="Maximum 30 chars" required>
						                    </div>
						                </div>
						                
						                <div class="form-group">
						                	<div class="col-sm-10 col-sm-offset-1">
						                      	<label for="inputEmail3" class="col-sm-2 control-label">Category</label>
						                        <input type="text" class="form-control" id="category" name="category" minlength="4" maxlength="30" title="Maximum 30 chars" required>
						                    </div>
						                </div>
						                
						                <div class="form-group">
						                	<div class="col-sm-10 col-sm-offset-1">
						                      	<label for="inputEmail3" class="col-sm-2 control-label">Price</label>
												<input type="number" step="any" min="1" max="100" maxlength="10"  class="form-control" id="number" name="price" title="Please use format with dot: 2.20" required >
						                    </div>
						                </div>
						                                         
						                <div class="form-group">
						                    <div class="col-sm-offset-2 col-sm-10">
						                         <button type="submit" class="btn btn-default add-to-cart" >Create Meal</button>
						                    </div>
						                </div>
                               </form>
                               
                              
				               
							
									
									
								
								
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<br>
						<br>
						<div class="brands_products"><!--brands_products-->
						
						
								<h2>   Profile  </h2>						
								<div class="brands-name">
								 
									<ul class="nav nav-pills nav-stacked">
									<div class="col-sm-10 ">
										<p><b>Minimal Order:</b> @restaurant.minOrder BAM</p>
										<p><b>Deliveri time:</b> 30 min</p>
										<p><b>Location:</b> @restaurant.user.location.street @restaurant.user.location.number, @restaurant.user.location.city</p>
										<p><b>Business hours:</b> @restaurant.workingTime</p>
										
										<form method="GET" class="form-horizontal" role="form" action="@routes.RestaurantController.editRestaurantURL(restaurant.name)">
							             	 <div class="form-group"  >
							                    <div class="col-sm-10 col-sm-offset-2">
							                         <button type="submit" class="btn btn-default add-to-cart">Edit Profile</button>
							                    </div>
							                 </div>
             							</form>
             							
             							<form action="@routes.FileUpload.saveRestaurantIMG()" method="POST" enctype="multipart/form-data" >
             							    <div class="col-sm-10 col-sm-offset-1">
												<input type="file" name="image" id="image" class="btn btn-default add-to-cart"/>
												<input type="submit" value="Upload file"  class="btn btn-default add-to-cart"/>
											</div>
									    </form>
             				
             				
									</div>	
									</ul>
									
							</div>
							
           
						</div><!--/brands_products-->
											
					 
                     <br>
                    
                    <br>
                   
                  
               
						
					<br>	
					<br>
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Meals</h2>
						
						@for(meal <- meals) {
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<!-- <img src="images/shop/product12.jpg" alt="" />  -->
										<img src="//placehold.it/240x120/E7E7E7" alt="" />
										<h2>@meal.price BAM</h2>
										<p>@meal.name</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										<a href="#" class="btn btn-default add-to-cart">Edit Meal</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>@meal.price BAM</h2>
											<p>@meal.name</p>
											<form method="POST" action="@routes.CartController.addMealToBasket(meal.id)">
											<input type="submit" class="btn btn-default add-to-cart" value="Add to cart " class="fa fa-shopping-cart"></input>
											</form>
											
											<form method="GET" action="@routes.RestaurantController.editMealURL(meal.id)">
											<input type="submit" class="btn btn-default add-to-cart" value="Edit Meal" ></input>
											</form>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
						}
						
						<tr>
						<tr>
						
						
						
				</div>
				
				<!--
				<ul class="pagination">
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">&raquo;</a></li>
						</ul>
					</div>
					-->
					<!--features_items-->
			</div>
		</div>
	</section>

        <!-- Page Features -->
        
</div>
     
</body>
	
	
}