@(email: String)(meals: List[Meal])(restaurants: List[Restaurant])(tobeapproved: List[TransactionU])
@main(email) {
<body>
   <!-- header -->
   <header class="masthead">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <h1>
               <a href="/" title="Scroll down for your viewing pleasure">Njam.ba</a>
               <p class="lead">Order your food by clicking on Njam.ba</p>
            </div>
            <div class="col-md-6">
               <div class="well pull-right">
                  <img src="//placehold.it/280x100/E7E7E7">        
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- /header -->
   <!-- user Profile -->
   <div class="container-fluid">
      <div>
         <hr>
      </div>
      <div class="crow" >
         <div class="col-md-6 col-md-offset-1">
            <div role="tabpanel">
               <!-- Nav tabs -->
               <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#createMeal" aria-controls="createMeal" role="tab" data-toggle="tab">Create meal</a></li>
                  <li role="presentation"><a href="#editProfile" aria-controls="editProfile" role="tab" data-toggle="tab">Edit profile</a></li>
                  <li role="presentation"><a href="#meals" aria-controls="meals" role="tab" data-toggle="tab">Meals</a></li>
                  <li role="presentation"><a href="#approveMeals" aria-controls="approveMeals" role="tab" data-toggle="tab">Approve meals</a></li>
               </ul>
               <!-- Tab panes -->
               <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="createMeal">
                     <!-- Form Name -->
                     <hr>
                     <div class="col-md-6 column">
                        <form class="form-horizontal" role="form" action="@routes.RestaurantController.createMeal" method = "POST">
                           <div class="form-group">
                              <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                              <div class="col-sm-10">
                                 <input type="text" class="form-control" id="name" name="name" minlength="4" maxlength="30" title="Maximum 30 chars" required>
                              </div>
                           </div>
                           <div class="form-group">
                              <label for="inputEmail3" class="col-sm-2 control-label">Price</label>
                              <div class="col-sm-10">
                                 <input type="number" step="any" min="1" max="100" maxlength="10"  class="form-control" id="number" name="price" title="Please use format with dot: 2.20" required >
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                 <button type="submit" class="btn btn-default">Create Meal</button>
                              </div>
                           </div>
                        </form>
                        @if(flash.get("successMeal") || flash.get("successEdited") || flash.get("deletedMeal") || flash.get("SuccessApprovedOrder")){
                        <div class="alert alert-success" role="alert">
                           <div class="container">
                              @flash.get("successMeal")
                              @flash.get("successEdited")
                              @flash.get("deletedMeal")
                              @flash.get("SuccessApprovedOrder")
                           </div>
                        </div>
                        }
                     </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="editProfile">
                     <hr>
                     <div class="col-md-4 column">
                        <form class="form-horizontal" role="form" action="@routes.RestaurantController.editRestaurantURL(email) method = "GET">
                           <div class="form-group" "  >
                              <div class="col-sm-offset-2 col-sm-10">
                                 <button type="submit" class="btn btn-default">Edit Profile</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="meals">
                     <hr>
                     @for(meal<-meals){
                     <div class="col-md-3 col-sm-6 hero-feature">
                        <div class="thumbnail">
                           <img src="http://placehold.it/800x500" alt="">
                           <div class="caption">
                              <h3>@meal.name</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              <p>@meal.price KM</p>
                              <form method="POST" action="@routes.RestaurantController.deleteMeal(meal.id)">
                                 <input type="submit" onclick = "if (! confirm('Are you sure you want delete this meal?')) { return false; }" value="Delete" class="btn btn-danger btn-xs " />   
                                 <a href="@routes.RestaurantController.editMealURL(meal.id)" class="btn btn-danger btn-xs " role="button">Edit</a> 
                              </form>
                           </div>
                        </div>
                     </div>
                     }
                  </div>
                  
                  
                   <div role="tabpanel" class="tab-pane" id="approveMeals">
                     <hr>
                    
                    
                    <div class="panel panel-primary">
                  <div class="panel-heading">Orders to be approved</div>
                  <table class="table table-striped">
                     <thead>
                        <tr>
                           <th>From</th>
                           <th>Price</th>
                           <th>Transaction ID</th>
                           <th>Approved</th>
                           <th></th>
                        </tr>
                        </thead>
                     <tbody>
                     	
                        @for(transaction <- tobeapproved){   
                        <tr>                 
                        <td>@transaction.email</td>
                        <td>@transaction.price</td>
                        <td>@transaction.id</td>
	                      @if(transaction.approved == true) {
                        	<td>Approved</td>
                        } else {
                        	<td>Not approved</td>
                        }
                        
                        	<td>
	                        @if(transaction.approved == false){
	                           <form method="POST" action="@routes.PaypalController.executePaymentById(transaction.id)">
	                           <input type="submit" onclick = "if (! confirm('Are you sure you want approve this restaurant?')) { return false; }" value="approve" class="btn btn-default btn-xs " />	 
	                           </form>
	                           }
	                        </td>
                        
                        
                        </tr>
                        }
                     </tbody>
                  </table>
               </div>
               
                @if(flash.get("SuccessApprovedOrder") ){
            <div class="alert alert-success" role="alert">
               @flash.get("SuccessApprovedOrder")
            </div>
            }
                    
                    
                    
                  </div>
                  
                  
               </div>
            </div>
            @if(flash.get("successUpdate") ){
            <div class="alert alert-success" role="alert">
               @flash.get("successUpdate")
            </div>
            }
            </form>
         </div>
         <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
   </div>
</body>
}