@(email: String)(carts: List[orders.Cart])
@main(email) {

<body>

    
@for( cart <- carts) {   
    
<div class="container">
		<div class="row">
			<div class="page-header">
				<h2>Your Shopping Cart <small>@email</small></h2>
			</div>
		</div>
		<div class="row">
			<div class="column col-md-2">
				<a class="btn btn-primary" href="/"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
			</div>
			<div class="column col-md-10">
			<div class="panel panel-info">
				<div class="panel-heading">
			
						<div class="row">
						
							<div class="column col-md-10">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
							</div>
							<div class="col-xs-6">
								
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					

					@for(cartitem <- cart.cartItems){

					<div class="row">
				
				
				
						<div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">
						</div>
						<div class="col-xs-2">
							<h4 class="product-name"><strong>@cartitem.meal.name</strong></h4><h4><small>@cartitem.meal.price KM</small></h4>
						</div>
						<div class="col-xs-8">
							<div class="col-xs-6 text-right">
								<h4><strong><span class="text-muted">x</span></strong></h4>
							</div>
							<div class="form-group">
							<div class="col-xs-2 text-left">
							<form method="POST" action="@routes.CartController.bindQuantity(cartitem.meal.id, cart.id)">
								<input type="text" id="quantity" name="quantity" class="form-control input-sm" value="@cartitem.quantity">
								</div>
								
								
								<div class="col-xs-2 text-right ">
							   <input type="submit"  value=" Update " class="btn btn-default" role="group" /> 
								</div>
								</form>
							<div class="form-group">
									<div class="col-xs-1 text-right">
										<form method="POST" action="@routes.CartController.removeFromCart(cartitem.meal.id, cart.id)">
										<input type="submit" onclick = "if (! confirm('Are you sure you want delete this meal?')) { return false; }" value="Remove" class="btn btn-default" role="group"/> 
										</form>
									</div>
									</div>
							
							  
							</div>
							
						</div>
					</div>
					<hr>
					}
					
					
					
				</div>
				<div class="panel-footer">
					<div class="row text-center">
					<div class="col-xs-8">
					<h5 class="text-left "><strong>Minimal order: @cart.minOrder KM</strong></h5>
							
						</div>
						<div class="col-xs-2">
						<h5 class="text-right"><strong>Total: @cart.total KM</strong></h5>
							
						</div>
						<div class="col-xs-2">
						<button type="button" class="btn btn-success btn-block" disabled>
								Checkout 
							</button>
						</div>
						
						
						
						
					</div>
					
					
				</div>
				
				@if(flash.get("SucessAdded") || flash.get("Warning") ){
			           <div class="alert alert-success" role="alert">
			            @flash.get("SucessAdded")
			            @flash.get("Warning")
			      
			             </div>  
	             	}
					<hr>
					<div class="row">
						<div class="text-center">
							
								
								@if(cart.minOrder <= cart.total) {
									<div class="col-xs-9"></div>
									<div class="col-xs-3">
									<form method="POST" action="@routes.PaypalController.purchaseProcessing(cart.id)">
	                        			<input type="image" <img src="//www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Check out with PayPal" value="approve"/>
	                        		</form>
	                        		</div>
								} else {
									<div class="col-xs-3"></div>
									<div class="col-xs-9">
									<h5 class="text-right text-danger"><strong>Total for your order is less than minimal order.</strong></h5>
									</div>
								}			
							
						</div>
					</div>
					
					<hr>

					<h5 class="text-right text-danger"><strong>Minimal order: @cart.minOrder KM</strong></h5>
				</div>
				
				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-xs-9">
												
							<h4 class="text-right"><strong>TOTAL: @cart.total KM</strong></h4>
						</div>
						<div class="col-xs-3">
							<button type="button" class="btn btn-success btn-block" disabled>
								Checkout 
							</button>
						</div>
						
						@if(flash.get("SucessAdded") || flash.get("Warning") ){
			           <div class="alert alert-success" role="alert">
			            @flash.get("SucessAdded")
			            @flash.get("Warning")
			      
			             </div>  
	             	}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<br></br>

}

</body>

}