	@(email: String)(carts: List[orders.Cart])
	@main(email) {
	
	<body>
		@if(models.User.activeCartCheck(carts) == false) {
		@for( cart <- carts) {   
		@if( cart.paid==false && cart.ordered == false && models.orders.Cart.timeGap(cart.user.id, cart.id) == false && cart.empty == false) {

		<section id="cart_items">
			<div class="container">
				<div class="breadcrumbs">
					
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Shopping Cart</li>
					</ol>
				</div>
				<div class="table-responsive cart_info">
					<table class="table table-condensed">
						<thead>
							<tr class="cart_menu">
								<td class="image">Restaurant Meal</td>
								<td class="description"> </td>
								<td class="price">Price</td>
								<td class="quantity">Quantity</td>
								<td class="total">Total</td>
								<td class="total">Delete</td>
								
								<td></td>
							</tr>
						</thead>
						@for(cartitem <- cart.cartItems){
						
						<tbody>
							<tr>
								<td class="cart_product">
									<a href=""><img src="http://placehold.it/100x70" alt=""></a>
								</td>
								<td class="cart_description">
									<h4><a href="">@cartitem.meal.name</a></h4>
									<p>Web ID: @cartitem.meal.id</p>
								</td>
								<td class="cart_price">
									<p>@cartitem.meal.price KM</p>
								</td>
								<div class="form-group">
									<form method="POST" action="@routes.CartController.bindQuantity(cartitem.meal.id, cart.id)">
										<td class="cart_quantity">
											<div class="cart_quantity_button">
												<a class="cart_quantity_up" style="background-color: transparent; border-color: none">
													
													<form method="POST" href="@routes.CartController.addMealToBasket(cartitem.meal.id)"> <input type="submit" value="+" /> 
													</form> </a>
													<input class="cart_quantity_input" method="POST" type="text" id="quantity" name="quantity" value="@cartitem.quantity" autocomplete="off" size="2">
													<a class="cart_quantity_down" href="@routes.CartController.removeFromCart(cartitem.meal.id,  cart.id)"> - </a>
												</div>
											</form>					
											
										</td>
										<td class="cart_total">
											<p class="cart_total_price">@cartitem.totalPrice KM</p>
										</td>
										<td class="cart_delete">
											<a class="cart_quantity_delete" href="@routes.CartController.removeAllFromCart(cartitem.meal.id, cart.id)"><i class="fa fa-times"></i></a>
										</td>
								
										
									</tbody>
								}
								
							<!-- total +  note -->
								<div class="row">
								
								
								
									<div class="col-sm-6">
								<tr>
									<td colspan="2">
									<!-- Note order -->
								<form action="@routes.CartController.addNoteToCart(cart.id)" method="POST" class="form-horizontal" role="form">
								
								<div class="col-sm-12 col-sm-offset-1">
								<br>
					
											<p><b>Note for this order Cart:</b></p>
											<textarea class="form-control" rows="3" id="orderNote" name="orderNote">@cart.orderNote</textarea>
											<p class="help-block">I would like my food to be prepred..</p>
											<button type="submit" class="btn btn-default">Add Note</button>
											<br>
											<br>

								</div>
								</form>
								<!--/ Note order -->
												<td colspan="1"></td>

									</td>
									<td colspan="3">
										<table class="table table-condensed total-result">
											
											<tr>
												<td>Total</td>
												<td><span>@cart.total KM</span></td>
											</tr>
											<tr class="shipping-cost">
												<td>Shipping Cost</td>
												<td>Free</td>			
												
											</tr>

											<tr>
												<td>
													@if(cart.minOrder <= cart.total) {
													
													<form method="POST" action="@routes.PaypalController.purchaseProcessing(cart.id)">
														<input type="image" <img src="//www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Check out with PayPal" value="approve"/>
													</form>
												</div>
												
												
											} else {
											<h5 class="text-right text-danger"><strong><span>Total for your order is less than minimal order.</span></strong></h5>
											@if(cart.minOrder > 0){
											<h5 class="text-left "><strong>Minimal order: @cart.minOrder KM KM</strong></h5>
										}
									</div>
								}			
									</td>		
									</tr>
									</div>
						</div>
		
										</table>
										</div>
					
								
					
				</td>
			</tr>
			
				
			</div>
		</table>
		@if(flash.get("SucessAdded") || flash.get("Warning") ){
		<div class="alert alert-success" role="alert">
			@flash.get("SucessAdded")
			@flash.get("Warning")
		</div>
	}
</div>
</div>
</section> <!--/#cart_items-->
}  <!-- zatvaranje ovog paid=false if-a -->
} <!-- Kraj for(cart - carts) petlje -->
} else {
	<p id="nocarts">You have no active order carts :)</p>
	}
</body>
<br>
<br>
<br>
<br>
<br>
<br>
}