@(email: String)(username: String)(restaurants: List[Restaurant])(transactions: List[TransactionU])(users: User)
@main(email) {
 
<body>
 
 
<!-- user Profile -->
<div class="container-fluid">
<div>
<hr>
</div>
 
 
 
 <div class="crow" >
 
    <div class="col-md-7 col-md-offset-1">
      <form class="form-horizontal" role="form" action="@routes.Application.editUser(email)" method="POST">
	
		<div role="tabpanel">
 
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" style="color:#555755">Profile information</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" style="color:#555755">Address</a></li>
     <li role="presentation"><a href="#refund" aria-controls="refund" role="tab" data-toggle="tab" style="color:#555755">Refund</a></li>
  </ul>
 
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <!-- Form Name -->
		<br>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Email</label>
            <div class="col-sm-10">
				<input type="email" class="form-control" value="@email" id="email" name="email" readonly>				
            </div>
          </div>
          
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Username</label>
            <div class="col-sm-10">
				<input type="text" class="form-control" value="@username" id="username" name="username">
				<p class="help-block">Provide your username to use it instead of your email address anywhere public on our website.</p>				
            </div>
          </div>
 
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Password</label>
            <div class="col-sm-10">
						<input type="password" class="form-control" id="hashedPassword" name="hashedPassword" pattern="(?=^.{6,16}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
						 <p class="help-block">Password should be at least 6, maximum 16 characters (UpperCase, LowerCase, Number/SpecialChar)</p>
            </div>
          </div>
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                
                <button type="submit" class="btn btn-primary">Update</button>
                </div>
                    </div>
                 </div>
 
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    <br>
   
       <div class="form-group">
                     <label for="inputEmail3" class="col-sm-2 control-label">City</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="city" name="city" placeholder="City" value="@users.location.city" minlength="4" maxlength="30" title="Maximum 30 chars" required>
                    </div>
                </div>
                
                <div class="form-group">
                     <label for="inputEmail3" class="col-sm-2 control-label">Street</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="street" name="street" placeholder="Street" value="@users.location.street" minlength="4" maxlength="30" title="Maximum 30 chars">
                    </div>
                </div>
                
                <div class="form-group">
                     <label for="inputEmail3" class="col-sm-2 control-label">Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="number" name="number" placeholder="Number" value="@users.location.number" maxlength="30" title="Maximum 30 chars">
                    </div>
                </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
    </div>
                </form>
          
    <div role="tabpanel" class="tab-pane" id="refund">
    <br>
    
	<table class="table table-bordered">
    <thead>
        <tr>
            <th>Restaurant name</th>
            <th>Order list</th>
            <th>Order Note</th>
            <th>Total price</th>
            <th>Delivery time</th>
            <th>Refund</th>
        </tr>
    </thead>
  
                @for(transaction <- TransactionU.findByUser(users.id)){   
      @if(transaction.approved == true){
    <tbody>
        <tr>
            <td>@transaction.restaurant.name</td>
           
            <td>
            	@for( cartItem <- models.orders.Cart.find(transaction.cartToPayId).cartItems){
            	<ul class="list-unstyled">           	 
            	<li>@cartItem.meal.name - @cartItem.meal.price BAM</li>            	
            	</ul>
            	}
            </td>
            	
            <td>@models.orders.Cart.find(transaction.cartToPayId).orderNote</td>
            <td>@transaction.price BAM</td>
            <td>@transaction.deliveryTime min</td>
            <td> 
                        @if(transaction.refund == false){
	                   <form method="POST" action="@routes.Application.askForRefund(transaction.id)">	                           
	                 <input type="submit" onclick = "if (! confirm('Are you sure you want to refund your payment?')) { return false; }" value="Refund" class="btn btn-primary btn-xs " />	 
                 }
                </td>
              
        </tr>
    </tbody>
      }
      }
</table>
 
  </div>
 	</div>
 	</div>
 
          	   @if(flash.get("successUpdate") || flash.get("PaidOK") || flash.get("FailedPayPal")){
			           <div class="alert alert-success" role="alert">
			            @flash.get("successUpdate")
			            @flash.get("PaidOK")
			            @flash.get("FailedPayPal")
			             </div>  
	             	}
 
    </div><!-- /.col-lg-12 -->
    
</div><!-- /.row -->
 
 
 
</div>
 
</body>	
	
}