@(email: String)
@main(email) {

<	<div id="contact-page" class="container">
    	<div class="bg">
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center">About <strong>us</strong></h2>    

      </div>
      
      <p>
Njam.ba is simply the easiest way to order food for delivery or takeout. Whatever you’re in the mood for, wherever you’re in the mood for it, you’ve got it. No menus, no phone calls,
<ul>
<li>1. Na portalu se nalaze restorani čije brojeve telefona ne morati znati da biste naručili hranu.</li>
 
<li>2. Lakše je vršiti pregled jelovnika sa slikama jer na taj način dobijate vjerodostojnu sliku onoga što naručujete.</li>
 
<li>3. U tri koraka možete naručiti željenu hranu i time uštedite vrijeme i novac.</li>
 
<li>4. Prilikom registracije na portal možete unositi više adresa na koje želite da vam se isporuči hrana (kuća, posao…).</li>
 
<li>5. Brže je pratiti svakodnevne akcije jela i povremene nagrade za vjerne korisnike.</li>
 </ul>

Portal je dizajniran kako bi korisnicima omogućio dobro informisanje o ponudi restorana prije donošenja odluke što će pojesti. Portal je povezan sa restoranima koji se nalaze u njam.ba mreži te se vaša narudžba prosljeđuje istog trena kad završite narudžbu preko portala. Takođe ćemo vas obavijestiti o procjenjenom vremenu isporuke par trenutaka nakon završene narudžbe.
      
      </p>
   </div>
</div>
</div>

   
</body>
</html>	
}