@(email: String)(meals: List[Meal])(restaurants: List[Restaurant])(logs: List[String])
@main(email) {
<body>
   
   <!-- Main -->
   <div class="container-fluid">
   <div class="row">
   <div class="col-sm-2">
      <!-- Left column -->
      <a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> Tools</strong></a>  
      <hr>
      <ul class="list-unstyled">
         <li class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#userMenu">
               <h5>Settings <i class="glyphicon glyphicon-chevron-down"></i></h5>
            </a>
            <ul class="list-unstyled collapse in" id="userMenu">
               <li class="active"> <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
               <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
               <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Options</a></li>
               <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Shoutbox</a></li>
               <li><a href="#"><i class="glyphicon glyphicon-user"></i> Staff List</a></li>
               <li><a href="#"><i class="glyphicon glyphicon-flag"></i> Transactions</a></li>
               <li><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i> Rules</a></li>
               <li><a href="#"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
            </ul>
         </li>
         <li class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#menu2">
               <h5>Reports <i class="glyphicon glyphicon-chevron-right"></i></h5>
            </a>
            <ul class="list-unstyled collapse" id="menu2">
               <li><a href="#">Information &amp; Stats</a>
               </li>
               <li><a href="#">Views</a>
               </li>
               <li><a href="#">Requests</a>
               </li>
               <li><a href="#">Timetable</a>
               </li>
               <li><a href="#">Alerts</a>
               </li>
            </ul>
         </li>
         <li class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#menu3">
               <h5>Social Media <i class="glyphicon glyphicon-chevron-right"></i></h5>
            </a>
            <ul class="list-unstyled collapse" id="menu3">
               <li><a href="#"><i class="glyphicon glyphicon-circle"></i> Facebook</a></li>
               <li><a href="#"><i class="glyphicon glyphicon-circle"></i> Twitter</a></li>
            </ul>
         </li>
      </ul>
      <hr>
      <a href="#"><strong><i class="glyphicon glyphicon-link"></i> Resources</strong></a>  
   </div>
   <!-- /col-3 -->
   <div class="col-sm-10">
   <!-- column 2 -->	
   <div class="list-inline pull-right">
      <button class="btn btn-success" type="button">Total restaurants <span class="badge">@restaurants.length</span></button>
      <button class="btn btn-success" type="button">Total meals <span class="badge">@meals.length</span></button>
   </div>
   <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> My Dashboard</strong></a>  
   <hr>
      @if(flash.get("successRestaurant") || flash.get("successDeleteRestaurant") || flash.get("successApprovedRestaurant")){
   <div class="alert alert-success" role="alert">
      <div class="container">
         @flash.get("successDeleteRestaurant")
         @flash.get("successApprovedRestaurant")
      </div>
   </div>
   }
   <div class="row">
      <!-- center left-->	
      <div class="col-md-8">
         <div class="row">
            <div class="col-lg-12 col-md-12">
               <div class="panel panel-primary">
                  <div class="panel-heading">Restaurants</div>
                  <table class="table table-striped">
                     <thead>
                        <tr>
                           <th>ID</th>
                           <th>Restaurant</th>
                           <th>Email</th>
                           <th>Status</th>
                           <th>City</th>
                           <th>Street</th>
                           <th>Number</th>
                           <th></th>
                           <th></th>
                     <tbody>
                        @for(restaurant <- restaurants){                    
                        <td>@restaurant.id</td>
                        <td>@restaurant.name</td>
                        <td>@restaurant.user.email</td>
                        <td>@restaurant.user.validated</td>
                        <td>@restaurant.user.location.city</td>
                        <td>@restaurant.user.location.street</td>
                        <td>@restaurant.user.location.number</td>
                        <td>
                           <form method="POST" action="@routes.SudoController.deleteRestaurant(restaurant.id)">
                           <input type="submit" onclick = "if (! confirm('Are you sure you want approve this restaurant?')) { return false; }" value="delete" class="btn btn-danger btn-xs " />	 
                           </form>
                        </td>
                        @if(restaurant.user.validated == false){
                        <td>
                           <form method="POST" action="@routes.SudoController.approveRestaurant(restaurant.id)">
                           <input type="submit" onclick = "if (! confirm('Are you sure you want approve this restaurant?')) { return false; }" value="approve" class="btn btn-default btn-xs " />	 
                           </form>
                        </td>
                        }
                        </thead>
                        </tr>
                        }
                     </tbody>
                  </table>
               </div>
               <hr>
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                     <ul class="list-group">
                        <a href="#" class="list-group-item active">System logs</a>
                       @for(log <- logs){
                        	<li class="list-group-item">@log</li>
                        }
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--/col-->
      <div class="col-md-4">
         <div class="panel panel-primary">
            <div class="panel-heading">Add FAQ</div>
            <div class="panel-body">
               <div class="control-group">
                  <label>Question</label>
                  <div class="controls">
                     <input type="text" class="form-control" id="street" name="street" minlength="3" maxlength="20" title="Maximum 20 chars" required>
                  </div>
               </div>
               <div class="control-group">
                  <label>Answer</label>
                  <div class="controls">
                     <textarea rows="5" cols="49" name="answer"></textarea>
                  </div>
               </div>
               <div class="control-group">
                  <label></label>
                  <div class="controls">
                     <button type="submit" class="btn btn-primary">
                     Add
                     </button>
                  </div>
               </div>
               </form>
            </div>
            <!--/panel content-->
         </div>
         <!--/panel-->
      </div>
   </div>
   <!-- /Main -->
   <div class="modal" id="addWidgetModal">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title">Add Widget</h4>
            </div>
            <div class="modal-body">
               <p>Add a widget stuff here..</p>
            </div>
            <div class="modal-footer">
               <a href="#" data-dismiss="modal" class="btn">Close</a>
               <a href="#" class="btn btn-primary">Save changes</a>
            </div>
         </div>
         <!-- /.modal-content -->
      </div>
      <!-- /.modal-dalog -->
   </div>
   <!-- /.modal -->
   <!-- script references -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/scripts.js"></script>
</body>
}