@(contactForm: Form[ContactController.Contact])

@import helper.twitterBootstrap._

@main("Contact") {

<!-- new navbar -->
<nav class="navbar navbar-static" style="background-color:#111;color:#fff;" >
   <div class="container">
    <div class="navbar-header" >
      <a class="navbar-brand" href="/" target="ext"><b>Home</b></a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
    </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">  
          <li><a href="#">Meals</a></li>  
          <li><a href="#">Restaurants</a></li>
            
          
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search  <i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
     				<button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                </form>
             </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile  <i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="@routes.Application.toRegistration">Register</a></li>
              
             </ul>
          </li>
        </ul>
      </div>
    </div>
</nav><!-- /.navbar -->


<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					Njam.ba <small>Log in</small>
				</h1>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-3 column">
			 <a href="/" class="btn btn-primary" type="button"> Back</a>
		</div>
		<div class="col-md-6 column">
			<form class="form-horizontal" role="form" action="@routes.ContactController.sendMail" method="POST">
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="email" name="email" required>				
					</div>
				</div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-2 control-label">Title</label>					
					<div class="col-sm-10">
						<input type="title" class="form-control" id="title" name="title" maxlength="30" required>
						 <p class="help-block"></p>
					</div>
				</div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-2 control-label">Message</label>					
					<div class="col-sm-10">
						<textarea type="password" class="form-control" rows="4" id="message" name="message" maxlength="150" required>
						 </textarea>
				
				
			 	   <div class="form-group">
				    <div class="col-md-offset-2 col-sm-10 col-md-5">
				    		<div class="g-recaptcha" data-sitekey="6Lc6sAMTAAAAANSA_h_yiimDVjkPv4D7mkOGqFc4"></div>
				  	</div>
			  		</div>
			
			
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
					
						 <button type="submit" class="btn btn-default">Send message</button>
					</div>
				</div>
				
					@if(flash.get("inDatabase") || flash.get("success")){
			           <div class="alert alert-success" role="alert">
			            @flash.get("inDatabase")
			            @flash.get("success")
			      
			             </div>  
	             	}
	              
	             	 @if(flash.get("failed")){
			           <div class="alert alert-warning" role="alert">
			            @flash.get("failed")
			             </div>  
	                 }
	                 
	              
	              
	              </div>
				
			</form>
		</div>
	</div>
</div>

		<div class="col-md-10 column">
 <h1>FAQ</h1>
 
      <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
I have a question or need help to perform an anlaysis. Can I contact you to get any help?        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse ">
      <div class="panel-body">
Yes, we are reachable by email. For general questions about OMA, our preferred way of answering questions is through BioStar. Please consider asking your question there, including the tag OMA. We monitor BioStar for such questions and will answer them directly on that platform.       </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
Why is my favorite genome not present in OMA?        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        We strive to include as many complete genomes as possible, provided they are released publicly and meet reasonable quality standards. We are open for suggestions and are willing to adapt our priority queue based on user requests. If you want to analyze your "own" genomes, you can use the <a href="/standalone">OMA standalone pipeline</a> to do so and even make use of already analyzed genomes using the export function. OMA standalone is licenced under the Mozilla Public License Version 2.0. In a nutshell, OMA standalone is open source and free for commercial and non-commercial use.       </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
What is the difference between OMA Groups and Hierarchical Groups?        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
OMA Groups are sets of genes which are all orthologous to each other according to the definition of Fitch (1970). In presence of a duplication in certain gene familly, this grouping strategy will pick only one of the two lineages resulting from the duplication event. The hierarchical orthologous groups (HOGs) are defined as sets of genes that have descended from a single common ancestor within a taxonomic range of interest, i.e. they correspond to the member of a clade in a gene tree rooted at the speciation node of interest.
Which type of groups you should choose depends highly on the type of your analysis.      </div>
    </div>
  </div>
        <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
Why are OMA Groups often relatively small? Covering so many genomes, I expected them to be much bigger.         </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
For the OMA Groups, we apply a very stringent grouping strategy. All the members of a group need to be bona fide orthologs to each other, i.e. the form a clique in graph-theoretic terms. This grouping strategy is mainly intended for applications which require orthologs of high confidence, e.g. for reconstructing species trees. A gene tree built from the members of an OMA Group should - in absence of LGT are incomplete lineage sorting - be congruent with the underlying species tree. If you are interested in larger groups, consider using the OMA HOGs. These hierarchical orthologous groups are defined as set of genes that all started diverging from a single ancestral gene at a given time point of reference.      </div>
    </div>
  </div>
        
            <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
          Under what licence is OMA distributed </a>      </h4>
    </div>
    <div id="collapseHeight" class="panel-collapse collapse">
      <div class="panel-body">
        The OMA Browser is available under the Creative Commons Attribution-Share Alike 2.5 License, and the OMA standalone package under the MPL 2.0 (open source) licence.</div>    </div>
  </div>
      		</div>


</body>
</html>	
}