@(message: String)(email: String)(meals: List[Meal])

@main("Index") {
	
	<body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h3 class="text-center">
						njam.ba
					</h3>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#">Home</a>
						</li>
						
						
						<li>
							<a href="restaurants.html">Restaurants</a>
						</li>
						
						@if(email == null){
							<li class="pull-right">
								<a href="/registration">Register</a>
							</li>
							<li class="pull-right">
								<a href="/login">Log in</a>
							</li>
						}else{		
							
							<li class="dropdown pull-right">
									<a href="#" data-toggle="dropdown" class="dropdown-toggle">@email<strong class="aret"></strong></a>
									<ul class="dropdown-menu">
									<li>
										<a href="/user">Profile</a>
									</li>
									<li class="divider">
									</li>
									<li>
										<a href="@routes.Application.logout">Log out</a>
									</li>
									</ul>
							</li>							
						}
						
						
					</ul>
				</div>
			</div>
			
		<div class="container">
	<div class="row clearfix">
	@for(meal<-meals){
		<div class="col-md-4 column">
			<h3 class="text-center">
			 @meal.name
			</h3>
			<p class="text-center">
				@meal.price
			</p>
			
		</div>
		}
	</div>
</div>		
		</div>		
		

	</body>
	
}