@(message: String)(email: String)(meals: List[Meal])

@main("Index") {
	
	<body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h3 class="text-center">
						njam.ba
					</h3>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#">Home</a>
						</li>
						<li>
							<a href="restaurants.html">Restaurants</a>
						</li>
						<li class="pull-right">
							<a href="/registration">Register</a>
						</li>
						<li class="pull-right">
							<a href="/login">Log in</a>
						</li>
					</ul>
				</div>
			</div>
				
		</div>
		<div class="random-meals">
				@for(meal<-meals){
				<h4>@meal.name</h4><br><h5>@meal.price</h5> 
							}
							</div>
	</body>
	
}