@(email: String)(content: Html)
<!DOCTYPE html>

<html>

    <head>
  <meta charset="utf-8">
  <title>Njam.ba The tasty way to go.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("stylesheets/style.css ")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/font-awesome.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/prettyPhoto.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/price-range.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/animate.css")" rel="stylesheet">
	<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
	<link href="@routes.Assets.at("stylesheets/responsive.css")" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/scripts.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
	
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>





<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="/"><i class="fa fa-envelope"></i> Njam.ba</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="logo pull-left">
							<a href="/"><img src="@routes.Assets.at("images/logo1.png")" alt="" /></a>
						</div>
						<div class="btn-group pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									Language
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">English</a></li>
									<li><a href="#">Bosnian</a></li>
								</ul>
							</div>
							
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									Currency
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">EURO</a></li>
									<li><a href="#">BAM</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
							<!--	<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li> -->
							<!-- 	<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li> -->
							
							
          						@if(User.checkIfExists(email) == true){
          							@if(User.checkRole(email).equals(User.USER)){
							
								<li><a href="/cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								
									}
								}
								
								@if(User.checkIfExists(email) == true){
									
		
		      						@if(User.checkRole(email).equals(User.USER)){
										<li><a href="/user/@email">Profile: <span>@email</span></a></li>
										<li><a href="/logout">Logout</a></li>
									}
									
									@if(User.checkRole(email).equals(User.RESTAURANT)){
										 <li><a href="/restaurantOwner/@email">Profile: <span>@email</span></a></li>
										 <li><a href="/logout">Logout</a></li>
									}
									
									 @if(User.checkRole(email).equals(User.ADMIN)){
									 	<li><a href="/admin/@email">Profile: <span>@email</span></a></li>
									 	<li><a href="/logout">Logout</a></li>
									 }
									 
								}else{
									<li><a href="@routes.Application.toLogin"><i class="fa fa-lock"></i> Login</a></li>
									<li><a href="@routes.Application.toRegistration">Register</a></li>
              						<li><a href="@routes.Application.toRegistrationRestaurant">Register as Restaurant</a></li>
									
									
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" class="active">Home</a></li>
								<li class="dropdown"><a href="#">City<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Sarajevo</a></li>
										<li><a href="product-details.html">Tuzla</a></li> 
										<li><a href="checkout.html">Zenica</a></li> 
										 
                                    </ul>
                                </li> 
								<li class="dropdown"><a href="#">Restaurants<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                    	@for(restaurant <-  Restaurant.all()){
                                        <li><a href="/restaurantProfile/@restaurant.name">@restaurant.name</a></li>
										}
										
                                    </ul>
                                </li> 
								<li><a href="/faqPage" >FAQ</a></li>
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
						<form class="form-inline" method="GET" action="/search" >
						
   							<input type="text"  name="q" id="q" class="form-control pull-left" placeholder="Search"/>
							
                     
						</form>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	
	
	
	
	
	   
          
          


    
</nav><!-- /.navbar -->
        @content
        
        
        
        
        <footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>NJAM</span>.ba</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="@routes.Assets.at("images/iframe1.png")" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="@routes.Assets.at("images/iframe2.png")" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="@routes.Assets.at("images/iframe3.png")" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="@routes.Assets.at("images/iframe4.png")" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="@routes.Assets.at("images/map.png")" alt="" />
							<p>Paromlinska 24, 71000 SArajevo, Bosnia and Herzegovina</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Service</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Online Help</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Order Status</a></li>
								<li><a href="#">Change Location</a></li>
								<li><a href="#">FAQ’s</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Popular cuisines</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Fast food</a></li>
								<li><a href="#">Continental</a></li>
								<li><a href="#">Sea Food</a></li>
								<li><a href="#">Italian cuisine</a></li>
								<li><a href="#">Mexican Cuisine</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Policies</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privecy Policy</a></li>
								<li><a href="#">Refund Policy</a></li>
								<li><a href="#">Billing System</a></li>
								<li><a href="#">Ticket System</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>About Njam.ba</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Company Information</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Store Location</a></li>
								<li><a href="#">Affillate Program</a></li>
								<li><a href="#">Copyright</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Njam.ba</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2015 NJAM.ba. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="#">NJAM.ba Team</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->


	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/scripts.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery.scrollUp.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/price-range.js")"></script>
    	<script src="@routes.Assets.at("javascripts/jquery.prettyPhoto.js")"></script>
    	<script src="@routes.Assets.at("javascripts/main.js")"></script>
    </body>
</html>
