@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
<title>Online narudžba hrane - NJAM.BA</title>
<link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="routes.Assets.at("javascripts/jquery.min.js")"></script>
<!-- Custom Theme files -->
<link href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--Animation-->
<script src="@routes.Assets.at("javascripts/wow.min.js")"></script>
<link href="@routes.Assets.at("stylesheets/animate.css")" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/move-top.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/easing.js")"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
</head>
    <body>
        @content
    </body>
</html>
