@(email: String)

@main(email) {

<body>


<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					Njam.ba <small>Registration of restaurants</small>
				</h1>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-3 column">
			 <a href="/" class="btn btn-primary" type="button"> Back</a>
		</div>
		<div class="col-md-6 column">
			<form action="@routes.Application.registrationRestaurant" method="POST" class="form-horizontal" role="form">
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="email" name="email" required>
						<p class="help-block">Please provide your E-mail</p>
					</div>
				</div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="hashedPassword" name="hashedPassword" pattern="(?=^.{6,16}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
						 <p class="help-block">Password should be at least 6, maximum 16 characters (UpperCase, LowerCase, Number/SpecialChar)</p>
					</div>
				</div>
							<div class="form-group">
					 <label for="inputPassword3" class="col-sm-2 control-label">Confirm Password</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" pattern="(?=^.{6,16}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
						 <p class="help-block">Please confirm your password</p>
					</div>
				</div>
			
				<div class="form-group">
					 <label for="inputName3" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="name" name="name" pattern=".{3,20}" required title="3 to 20 characters">
						<p class="help-block">Password should be at least 3, maximum 20 characters </p>
					</div>
				</div>
			
			
			<!-- Address-->
				<!-- Text input-->
          
          <!-- Text input-->
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Bussines hours</label>
            <div class="col-sm-10">
              <input type="text" placeholder="Working time" class="form-control" id="workingTime" name="workingTime"  required>
              <p class="help-block" style="font-size: 12px">Please write your bussines hours ex. 07:00h - 18:00h. </p>
              
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">City</label>
            <div class="col-sm-10">
              <input type="text" placeholder="City" class="form-control" id="city" name="city" pattern=".{2,20}" required>
            </div>
          </div>
          
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Street</label>
            <div class="col-sm-10">
              <input type="text" placeholder="Street" class="form-control" id="street" name="street" pattern=".{3,30}" required>
            </div>
          </div>

<div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Number</label>
            <div class="col-sm-10">
              <input type="text" placeholder="Number" class="form-control" id="number" name="number" pattern=".{1,10}" required>
            </div>
          </div>
          
			<!-- 
            <label class="col-sm-2 control-label" for="textinput">Postcode</label>
            <div class="col-sm-4">
              <input type="text" placeholder="Post Code" class="form-control" id="postcode" name="postcode" required>
            </div>
          </div>
           -->
          
          <!-- /Address-->
	
				
				@if(flash.get("successSendRequest") ){
		           <div class="alert alert-success" role="alert">
		           <div class="container">
		            @flash.get("successSendRequest")
		           	
		             </div>
	            	</div>
	              }
	              
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						 <button type="submit" class="btn btn-default">Register</button>
						 <button type="submit" class="btn btn-default">Cancel</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-3 text-right column">
			<p>Already member?<a href="/login" class="btn btn-link" type="button">Log in</a></p>
		</div>
	</div>
</div>
</body>
</html>
	
	
}