@(meal: Meal)


@main("Restaurant") {

<body>

    <nav class="navbar navbar-static" style="background-color:#111;color:#fff;"  >
   <div class="container">
    <div class="navbar-header"  >
      <a class="navbar-brand" href="/" target="ext"><b>Home</b></a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
    </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">  
          <li><a href="#">Meals</a></li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Restaurants</a>
            <ul class="dropdown-menu">
              <li><a href="#">Sub-link</a></li>
              <li><a href="#">Sub-link</a></li>
              <li><a href="#">Sub-link</a></li>
              <li><a href="#">Sub-link</a></li>
              
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search  <i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
                    <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                </form>
             </ul>
          </li>
          <li class="dropdown">
          </li>
        </ul>
      </div>
    </div>
</nav><!-- /.navbar -->

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer" style="height: 400px">
            <h2>Edit @meal.name </h2>
            
            <div class="col-md-6 column">
            <form class="form-horizontal" role="form" action="@routes.RestaurantController.editMeal(meal.id)" method = "POST">
                <div class="form-group">
                     <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="@meal.name" minlength="4" maxlength="30" title="Maximum 30 chars" required>
                    </div>
                </div>
                <div class="form-group">
                     <label for="inputEmail3" class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-10">
                        <input type="number" step="any" min="1" max="100" maxlength="10"  class="form-control" id="number" name="price" placeholder ="@meal.price" title="Please use format with dot: 2.20" required >
                       @if(flash.get("successMeal")){
							<div class="alert alert-success" role="alert">
							<div class="container">
								@flash.get("successMeal")
							</div>
							</div>
							}
                    </div>
                </div>
                                         
                        <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                         <button type="submit" class="btn btn-default">Update Meal</button>
                         
                    </div>
                </div>
            </form>
        </div>
        </header>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-heading" style="background-color:#535453;color:#fff;">Meals</div>
                
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
                <!-- Page Features -->

                <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery --> 
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
	
	
}