@(email: String)(restaurants: List[Restaurant])
@main("NJAM.BA") {

<body>
<!-- new navbar -->
<nav class="navbar navbar-static" style="background-color:#111;color:#fff;" >
   <div class="container">
    <div class="navbar-header" >
      <a class="navbar-brand" href="/" target="ext"><b>Home</b></a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
    </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">  
          <li><a href="#">Meals</a></li>  
          <li><a href="#">Restaurants</a></li>
            
          
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search  <i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
     				<button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                </form>
             </ul>
          </li>
          <li class="dropdown">
            @if(User.checkIfExists(email) == true){
		
		@if(User.checkRole(email).equals(User.USER)){
				 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile @email <i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-chevron-down"></i></a>
           <ul class="dropdown-menu">
              <li><a href="/user/@email">Profile</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
             </ul>
           } 
         	 
           } else {
           
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile  <i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="@routes.Application.toRegistration">Register</a></li>
              <li><a href="@routes.Application.login">Login</a></li>
              <li><a href="/restaurant/"@email>Profile</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
             </ul>
           }
          </li>
        </ul>
      </div>
    </div>
</nav><!-- /.navbar -->

<!-- header -->
<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><a href="/" title="Scroll down for your viewing pleasure">Njam.ba</a>
          <p class="lead">Order your food by clicking on Njam.ba</p>
          <p>Enjoy delicious food from your favorite restaurant.</p></h1>
      </div>
      <div class="col-md-6">
        <div class="well pull-right">
          <img src="//placehold.it/280x100/E7E7E7">        
        </div>
      </div>
    </div>
  </div>
</header>
<!-- /header -->

<!-- user Profile -->
<div class="container-fluid">
<div>
<hr>
</div>


 <div class="crow" >
 
    <div class="col-md-6 col-md-offset-1">
      <form class="form-horizontal" role="form" action="@routes.Application.editUser(email)" method="POST">

          <!-- Form Name -->
          <legend>Address Details</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Email</label>
            <div class="col-sm-10">
				<input type="email" class="form-control" value="@email" id="email" name="email" readonly>				
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Password</label>
            <div class="col-sm-10">
						<input type="password" class="form-control" id="hashedPassword" name="hashedPassword" pattern="(?=^.{6,16}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
						 <p class="help-block">Password should be at least 6, maximum 16 characters (UpperCase, LowerCase, Number/SpecialChar)</p>
            </div>
          </div>
          <div class="form-group">
                     <label for="inputEmail3" class="col-sm-2 control-label">City</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="city" name="city" minlength="4" maxlength="30" title="Maximum 30 chars" required>
                    </div>
                </div>
                
                <div class="form-group">
                     <label for="inputEmail3" class="col-sm-2 control-label">Street</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="street" name="street" minlength="4" maxlength="30" title="Maximum 30 chars">
                    </div>
                </div>
                
                <div class="form-group">
                     <label for="inputEmail3" class="col-sm-2 control-label">Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="number" name="number" maxlength="30" title="Maximum 30 chars">
                    </div>
                </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
          			   @if(flash.get("successUpdate") ){
			           <div class="alert alert-success" role="alert">
			            @flash.get("successUpdate")
			             </div>  
	             	}

      </form>
    </div><!-- /.col-lg-12 -->
    
</div><!-- /.row -->



</div>

</body>	
	
}