@(username: String)
@main("NJAM.BA") {

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-center">
				njam.ba
			</h3>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="/">Home</a>
				</li>
				<li>
					<a href="restaurants.html">Restaurants</a>
				</li>
				<li class="dropdown pull-right">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">@username<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							@if(User.checkRole(username).equals(User.ADMIN)){
								<a href="/admin">Add restaurant</a>
							}else{
							<a href="/user">Profile</a>
							}
						</li>
						<li class="divider">
						</li>
						<li>
							<a href="@routes.Application.logout">Log out</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
	
	
}